footer.footer
  .container
    .footer__wrap.d-flex.justify-content-between
      .footer__text__wrap
        p.footer__title
          | It's Glow 
          br
          | Time.
        p.footer__copy 2020 KALOSE LLC. Legal.
      .footer__menu__wrap.d-flex
        .col
          p.footer__menu__title About Us
          ul
            each menu in ["Co-living","FAQs","Careers","The Journal","Serviced Living","Venue hire","Co-working"]
                li
                    a(href='#')= menu
        .col
          p.footer__menu__title Get in touch
          p.footer__address
            | KALOSE Inc,
            br
            | Century Park East Suite 803,
            br
            | Los Angeles,
            br
            | +44 (0) 207 543 5478
    a#back-to-top.top-scroll
      img(src='images/top.png')
