header.header
    .container
        .header.header__wrapper
            .header.header__logo
                a(href="/")
                    img(src='images/logo.png' alt='Kalose' title='Kalose')
            .navigation-wrap.d-flex.justify-content-end
                .menu-wrp
                    .nav.main-nav
                        ul
                            each menu in ['How it works', 'Products', 'Contact Us']
                                li
                                    a(href="#")= menu
                    .mob-btn
                        span
                        span
                        span
                    .overlay