extends layout
    
block layout-content
    section.banner__section
        .container
            .d-flex.align-items-center.justify-content-between
                .banner.banner__text
                    span.banner__badge Beauty
                    p.banner__title We’ll take <br>it from here
                    p.banner__blurb Skin care is the range of practices that support skin integrity,
                        .banner.banner__buttons__wrap
                            a(href="/products", class="banner banner__buttons buttons") Check Products
                            a(href="#", class="banner banner__buttons buttons") See Our Video
                .banner.banner__image
                            img(src="images/banner.jpg" alt="Skin Care")
    section.section.products__section
        .container
            .products__header__wrap
                h1.h2 Skin Care Products
                    a(href="/products" class="buttons white float-right") Shop Now 
                        img(src="images/arrow.png")
                .products__wrap
                    .row
                        each product in products
                            .col-lg-3.col-md-6.col-sm-12
                                .products__wrap__box
                                    figure
                                        img(src=product.image alt="product.title")
                                        a(href="#" class="product__details__button") View Details
                                    p.product__title= product.title
                                    p.product__price= product.price
                                    p.product__description=product.description