extends layout 

block layout-content
    section.section.products__section
        .container
            .products__header__wrap
                h1.h2 Skin Care Products
                    a(href="#" class="buttons white float-right") Shop Now 
                        img(src="images/arrow.png")
                .products__wrap
                    .row
                        each product in products
                            .col-lg-3.col-md-6.col-sm-12
                                .products__wrap__box
                                    figure
                                        img(src=product.image alt="product.title")
                                        a(href="#" class="product__details__button") View Details
                                    p.product__title= product.title
                                    p.product__price= product.price
                                    p.product__description=product.description