@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: bold;
}

p {
  font-size: 15px;
  color: #000022;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

a, a:hover {
  -webkit-transition: .3s all;
  transition: .3s all;
}

.buttons {
  background: #C7E1BF;
  color: #102522;
  padding: 20px 30px;
  border-radius: 48px;
  font-size: 14px;
  -webkit-transition: .3s all;
  transition: .3s all;
  text-decoration: none;
}

.buttons:hover {
  background: #fff;
  text-decoration: none;
  color: #000;
}

.buttons.white {
  background-color: #fff;
  border: 1px solid #102421;
}

.buttons.white img {
  width: 16px;
  height: auto;
  margin-left: 15px;
}

.buttons.white:hover {
  background: #102421;
  color: #fff;
}

.buttons.white:hover img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

header {
  padding: 40px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

header .header__wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .user-wrap img {
  width: 20px;
  height: auto;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

header .user-wrap img:hover {
  -webkit-filter: brightness(0);
  filter: brightness(0);
  -webkit-transition: .3s all;
  transition: .3s all;
}

header .cart-wrap img {
  width: 23px;
  height: auto;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

header .cart-wrap imghover {
  opacity: .6;
  -webkit-transition: .3s all;
  transition: .3s all;
}

header .cart-wrap img .main-nav {
  color: #fff;
}

@media only screen and (min-width: 992px) {
  .desk-hide {
    display: none;
  }
  .main-nav > ul {
    margin: 0;
    padding: 0;
  }
  .main-nav > ul > li {
    display: inline-block;
    position: relative;
  }
  .main-nav > ul > li:last-child {
    margin: 0;
  }
  .main-nav > ul > li > a {
    color: #151442;
    display: block;
    padding: 2px 0;
    text-decoration: none;
    margin: 0 17px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    position: relative;
  }
  .main-nav > ul > li > a:after {
    content: '';
    width: 0;
    height: 1px;
    background: #151442;
    position: absolute;
    bottom: -5px;
    left: 0px;
    -webkit-transition: .5s all;
    transition: .5s all;
  }
  .main-nav > ul > li:first-child > a {
    margin-left: 0;
  }
  .main-nav > ul > li:hover > a:after {
    width: 100%;
    -webkit-transition: .5s all;
    transition: .5s all;
  }
  .mob-btn {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .main-nav {
    position: fixed;
    width: 260px;
    top: 0;
    right: -260px;
    background: #151442;
    height: 100%;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    z-index: 1005;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.7);
    overflow-y: auto;
  }
  .main-nav ul {
    margin: 0;
    padding: 0;
    display: block;
    margin-top: 0;
  }
  .main-nav ul li {
    display: block;
    border-bottom: 1px solid #656b74;
    position: relative;
    text-transform: capitalize;
    font-size: 13px;
  }
  .main-nav ul li span {
    display: none;
  }
  .main-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    display: block;
    padding: 10px;
    padding-right: 40px;
  }
  .main-nav ul li a:hover {
    background: #2d2d2d;
  }
  .main-nav ul.mnav {
    margin-bottom: 30px;
  }
  .show-menu .main-nav {
    right: 0;
  }
  .show-menu .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1001;
  }
  .mob-btn {
    position: absolute;
    float: right;
    padding: 5px 7px;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    right: 0;
    top: 0;
  }
  .mob-btn span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 1px;
    background: #151442;
  }
  .mob-btn span + span {
    margin-top: 5px;
  }
}

.banner__section {
  position: relative;
  padding: 164px 0px;
}

.banner__section:before {
  content: '';
  width: 58%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #102421;
  z-index: -1;
}

.banner__section .banner__text {
  -ms-flex-preferred-size: 52%;
  flex-basis: 52%;
  color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 120px;
}

.banner__section .banner__image {
  -ms-flex-preferred-size: 48%;
  flex-basis: 48%;
}

.banner__section .banner__badge {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 4px;
}

.banner__section .banner__title {
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 55px;
  color: #D2D2D2;
  line-height: 1.2;
}

.banner__section .banner__blurb {
  font-size: 22px;
  color: #fff;
  max-width: 60%;
  margin-bottom: 85px;
}

.banner__section .banner__buttons__wrap a {
  margin-right: 52px;
}

.banner__section .banner__buttons__wrap a:last-child {
  margin-right: 0;
}

.container {
  max-width: 1723px;
  width: 100%;
}

@media (min-width: 2199px) {
  .container {
    max-width: 2100px;
  }
}

@media (max-width: 1699px) {
  .container {
    max-width: 1600px;
  }
}

@media (max-width: 1599px) {
  .container {
    max-width: 96%;
  }
}

@media (max-width: 481px) {
  .container {
    max-width: 98%;
  }
}

@media (max-width: 1499px) {
  .banner__section {
    padding: 100px 0px;
  }
  .banner__section .banner__badge {
    margin-bottom: 20px;
  }
  .banner__section .banner__title {
    font-size: 60px;
    margin-bottom: 30px;
  }
  .banner__section .sub-textbanner__blurb {
    max-width: 75%;
    margin-bottom: 40px;
  }
  .banner__section .banner__buttons__wrap a {
    margin-right: 35px;
  }
  .buttons {
    padding: 14px 30px;
  }
}

.products__section .products__wrap {
  margin-top: 100px;
}

.products__section .products__wrap__box {
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.products__section .products__wrap__box figure {
  position: relative;
}

.products__section .products__wrap__box figure img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.products__section .products__wrap__box figure .product__details__button {
  width: 82px;
  height: 82px;
  background: #102421;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 2px;
  position: absolute;
  top: 145px;
  right: 60px;
  display: none;
  text-decoration: none;
}

.products__section .products__wrap__box figure .product__details__button:hover {
  background-color: #151442;
}

.products__section .products__wrap__box:hover figure .product__details__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.products__section .products__wrap__box .product__title {
  font-weight: 500;
  font-size: 36px;
  color: #151442;
  margin-bottom: 30px;
}

.products__section .products__wrap__box .product__price {
  font-weight: 400;
  font-size: 14px;
  color: #8F9095;
  margin-bottom: 30px;
}

.products__section .products__wrap__box .product__description {
  font-weight: 500;
  font-size: 16px;
  color: #8F9095;
  margin-bottom: 30px;
  padding: 0px 95px;
}

@media (max-width: 1699px) {
  .products__section .products__wrap__box .product__description {
    padding: 0px 50px;
    margin-bottom: 20px;
  }
  .products__section .products__wrap__box .product__price {
    margin-bottom: 20px;
  }
  .products__section .products__wrap__box .product__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 1499px) {
  .products__section {
    padding: 80px 0px;
  }
  .products__section .products__wrap__box .product__title {
    font-size: 30px;
  }
  .products__section .products__wrap__box .product__description {
    padding: 0px 20px;
  }
}

footer {
  padding: 145px 0px;
  background: #0F2421;
}

footer .footer__text__wrap {
  -ms-flex-preferred-size: 26%;
  flex-basis: 26%;
}

footer .footer__text__wrap .footer__title {
  font-size: 88px;
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 40px;
}

footer .footer__text__wrap .footer__copy {
  color: #fff;
  font-size: 14px;
}

footer .footer__menu__wrap {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
}

footer .footer__menu__wrap .col .footer__menu__title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 45px;
}

footer .footer__menu__wrap .col .footer__address {
  color: #fff;
  font-size: 14px;
  line-height: 1.7;
}

footer .footer__menu__wrap .col ul {
  list-style: none;
  padding-left: 0;
}

footer .footer__menu__wrap .col ul a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  margin-bottom: 12px;
  display: inline-block;
  position: relative;
}

footer .footer__menu__wrap .col ul a:after {
  content: '';
  width: 0;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -3px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

footer .footer__menu__wrap .col ul a:hover:after {
  width: 100%;
  -webkit-transition: .5s all;
  transition: .5s all;
}

footer .footer__menu__wrap .col ul li:last-child a {
  margin-bottom: 0;
}

.top-scroll {
  width: 41px;
  height: 41px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #0F2421;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  bottom: 50px;
  right: 90px;
  z-index: 9;
  cursor: pointer;
  display: none;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.top-scroll .top-scroll img {
  width: 12px;
  height: auto;
}

.top-scroll .top-scroll .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .3s all;
  transition: .3s all;
}
/*# sourceMappingURL=main.css.map */